body {
    background-color: rgb(10, 14, 32);
    font-family: Consolas, monaco, monospace; 
    font-style: normal; 
    font-variant: normal; 
    color: blanchedalmond;
    /*font-weight: 700; 
    line-height: 26.4px; */
}

body h1 {
    text-align: center;
    color: #FFC647;
}

body h2 {
    color: #5220DD;
}

body h3 {
    color: #17C6E9;
}